<div class="bg-white shadow">
    <div class="container mx-auto px-4 py-2 md:py-3">

        <div class="flex justify-center items-center">
            
            <!-- Twitter Title -->
                <div class="flex justify-center items-center text-lg md:text-xl font-bold">
                    
                    <img class="w-9" src="../../../assets/twitter-154-svgrepo-com.png">
                    <h1 class="ml-3 font-sans">dwitter</h1>

                </div>

        </div>

    </div>
</div>