<div class="bg-white shadow">
    <div class="container mx-auto px-4 py-2 md:py-3">

        <div class="flex justify-between items-center">
            
            <!-- Twitter Title -->
                <div class="flex justify-between items-center text-lg md:text-xl font-bold">
                    
                    <img class="w-9" src="../../../assets/twitter-154-svgrepo-com.png">
                    <h1 class="ml-3 font-sans">dwitter</h1>

                </div>
            <!-- User -->
                <div class="relative">
                    <div class="
                    bg-blue-200 text-blue-600 flex items-center justify-center
                    rounded-full w-10 h-10 cursor-pointer
                    ">
                        L
                    </div>
                </div>
        </div>

    </div>
</div>