<div class="flex-col justify-center w-[200px] h-[600px] bg-white rounded-lg shadow p-6 mb-8">
    <div class="flex h-[150px] items-center bg-white rounded-lg shadow p-6 mb-3 justify-center" >
        <img 
        class="w-[100%]"
        src="../../../assets/users-avatar-svgrepo-com.svg">
    </div>
    <div class="flex justify-center items-center mt-0">
        <h2>Lucas Henrique</h2>
    </div>
    <div class="flex justify-center items-center mt-0 font-light text-xs">
        <p class="text-blue-600">@lcshenry</p>
    </div>

    <div class="mt-5">
        <ul>
            <li class="text-blue-400 hover:text-blue-600 mb-1"><a href="">Perfil</a></li>
            <li class="text-blue-400 hover:text-blue-600 mb-1"><a href="">Postagens</a></li>
            <li class="text-blue-400 hover:text-blue-600 mb-1"><a href="">Seguidores</a></li>
            <li class="text-blue-400 hover:text-blue-600 mb-1"><a href="">Seguindo</a></li>
            <li class="text-blue-400 hover:text-blue-600 mb-1"><a href="">Mundo</a></li>
            <li class="text-blue-400 hover:text-blue-600 mb-1"><a href="">Politicas</a></li>
            <li class="text-blue-400 hover:text-blue-600 mb-1"><a href="">Configurações</a></li>
        </ul>
    </div>

</div>